El_Llagar_Online/XML/Otros.dtd

<?xml version="1.0" encoding="utf-8" ?>
        <!ELEMENT productos (producto)*>
        <!ELEMENT producto (titulo, rutaFoto, nombre, descripcion, precio )>
        <!ELEMENT titulo (#PCDATA)>
		<!ELEMENT rutaFoto (#PCDATA)>
		<!ELEMENT nombre (#PCDATA)>
        <!ELEMENT descripcion (#PCDATA)>
        <!ELEMENT precio (#PCDATA)>
		<!ATTLIST precio
                unidad CDATA #REQUIRED>
        